{% load humanize %}
<div class="dashboard__orders card">
    <div class="card-header">
        <h5>سفارشات اخیر</h5></div>
    <div class="card-divider"></div>
    <div class="card-table">
        <div class="table-responsive-sm">
            <table>
                <thead>
                    <tr>
                        <th>سفارش</th>
                        <th>تاریخ</th>
                        <th>وضعیت</th>
                        <th>جمع کل</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">#8132</a></td>
                        <td>2 فروردین 1401</td>
                        <td>در حال پردازش</td>
                        <td>2,425,000 تومان برای 5 محصول</td>
                    </tr>
                    <tr>
                        <td><a href="">#7592</a></td>
                        <td>28 فروردین 1401</td>
                        <td>در حال پردازش</td>
                        <td>325,000 تومان برای 3 محصول</td>
                    </tr>
                    <tr>
                        <td><a href="">#7192</a></td>
                        <td>15 فروردین 1401</td>
                        <td>ارسال شده</td>
                        <td>1,786,000 تومان برای 4 محصول</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>