{% extends 'account_app/user_panel.html' %}
{% load render_partial %}
{% block dashbord %}
                    <div class="card">
                        <div class="card-header">
                            <h5>ویرایش رمز عبور</h5></div>
                        <div class="card-divider"></div>
                        <div class="card-body">
                            <form action="" method='post' enctype="multipart/form-data">
                                {% csrf_token %}
                                {{user_detail_password_form.as_p}}
                                <button class='btn btn-danger btn-block' type='submit'>آبدیت رمز عبور</button>
                            </form>
                        </div>
                    </div>
{% endblock dashbord %}