<div class="widget-filters__item">
    <div class="filter filter--opened" data-collapse-item>
        <button type="button" class="filter__title" data-collapse-trigger>دسته ها
        <svg class="filter__arrow" width="12px" height="7px">
        <use xlink:href="images/sprite.svg#arrow-rounded-down-12x7"></use>
        </svg>
        </button>
        <div class="filter__body" data-collapse-content>
            <div class="filter__container">
                <div class="filter-categories">
                    <ul class="filter-categories__list">
                        {% for group in product_groups %}
                            <li class="filter-categories__item filter-categories__item--parent">
                                <svg class="filter-categories__arrow" width="6px" height="9px">
                                    <use xlink:href="images/sprite.svg#arrow-rounded-left-6x9"></use>
                                </svg> 
                                <a href=" {% url 'products:products_by_group' slug=group.group_slug %} ">{{group.group_name}}</a>
                                <div class="filter-categories__counter">
                                    {{group.count}}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>