{% for key,val in feature_list_dic.items %}
    {% if val %}
        <div class="widget-filters__item">
            <div class="filter filter--opened" data-collapse-item>
                <button type="button" class="filter__title" data-collapse-trigger>{{key}}
                    <svg class="filter__arrow" width="12px" height="7px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-down-12x7"></use>
                    </svg>
                </button>
                <div class="filter__body" data-collapse-content>
                    <div class="filter__container">
                        <div class="filter-list">
                            <div class="filter-list__list">

                            {% for item in val %}
                                <label class="filter-list__item"><span class="filter-list__input input-check">
                                    <span class="input-check__body">
                                    <input id="item_{{item.id}}" class="input-check__input" name="{{key.feature_slug}}" value="{{item.id}}" type="checkbox"> 
                                    <input id="item_{{item.id}}" class="input-check__input" name="feature" value="{{item.id}}" type="checkbox"> 
                                    <span class="input-check__box"></span>
                                    <svg class="input-check__icon" width="9px" height="7px">
                                        <use xlink:href="images/sprite.svg#check-9x7"></use>
                                    </svg>
                                    </span>
                                    </span><span class="filter-list__title">{{item.value_title}} </span><span class="filter-list__counter"></span>
                                </label>
                            {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}


