<div class="widget-filters__item">
    <div class="filter filter--opened" data-collapse-item>
        <button type="button" class="filter__title" data-collapse-trigger>برند
            <svg class="filter__arrow" width="12px" height="7px">
                <use xlink:href="images/sprite.svg#arrow-rounded-down-12x7"></use>
            </svg>
        </button>
        <div class="filter__body" data-collapse-content>
            <div class="filter__container">
                <div class="filter-list">
                    <div class="filter-list__list">

                        {% for brand in brands %}
                            <label class="filter-list__item"><span class="filter-list__input input-check">
                                <span class="input-check__body">
                                <input id="item_{{brand.id}}" class="input-check__input" name="brand" value="{{brand.id}}" type="checkbox"> 
                                <span class="input-check__box"></span>
                                <svg class="input-check__icon" width="9px" height="7px">
                                    <use xlink:href="images/sprite.svg#check-9x7"></use>
                                </svg>
                                </span>
                                </span><span class="filter-list__title">{{brand.brand_name}} </span><span class="filter-list__counter"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>