<footer class="site__footer">
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">تماس با ما</h5>

                            <ul class="footer-contacts__contacts">
                                <li><i class="footer-contacts__icon fas fa-globe-americas"></i>
                                    ملایر، خیابان شهدا</li>
                                <li><i class="footer-contacts__icon fas fa-mobile-alt"></i>
                                    <span class="ltr_text">081-45231</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">اطلاعات</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item">
                                    <a href="" class="footer-links__link">درباره ما</a>
                                </li>
                                <li class="footer-links__item">
                                    <a href="" class="footer-links__link">تماس با ما</a>
                                </li>
                                <li class="footer-links__item">
                                    <a href="" class="footer-links__link">قوانین و مقررات</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">حساب کاربری</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item">
                                    <a href="login.html" class="footer-links__link">
                                        ورود
                                    </a>
                                </li>
                                <li class="footer-links__item">
                                    <a href="register.html" class="footer-links__link">
                                        ثبت نام
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-contacts__title">شبکه های</h5>
                            <div class="footer-newsletter__text footer-newsletter__text--social">ما را در شبکه
                                های اجتماعی دنبال کنید</div>
                            <ul class="footer-newsletter__social-links">
                                <li
                                    class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li
                                    class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li
                                    class="footer-newsletter__social-link footer-newsletter__social-link--youtube">
                                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li
                                    class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--rss">
                                    <a href="#" target="_blank"><i class="fas fa-rss"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">

                <div class="site-footer__copyright">
                    کلیه حقوق و امتیازات این وبسایت متعلق است به آکادمی
                    <a href="https://darsman.com" target="_blank">درسمن</a>
                </div>

            </div>
        </div>
    </div>
</footer>