{% extends 'main_template.html' %}
{% block title %}اهراز هویت{% endblock title %}
{% block body %}
		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">خانه</a>
									/
								</li>
								<li class="breadcrumb-item">
									<a href="#">حساب کاربری</a>
									/
								</li>
								<li class="active" aria-current="page">احراز هویت</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title d-flex justify-content-center">
						<h1>ارسال شماره موبایل جهت تغییر رمز عبور</h1>
					</div>
				</div>
			</div>
			<div class="block">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-6">
							<div class="card flex-grow-1 mb-md-0">
								<div class="card-body">

									<form action="" method="post">
                                        {% csrf_token %}
                                        {{remember_password.as_p}}
										<button type="submit" class="btn btn-primary mt-4">ارسال</button>
                                    </form>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock body %}